* {
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

body{
    margin: 0;
}

.top-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.945)),
    url(banner.jpg);
    height: 50vh;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-container h1{
color: rgb(255, 255, 255);
font-size: 50px;
}

.text {
    margin: 50px 5%;
    text-align: justify;
    line-height: 1.5;
  }
  
.navbar{
    display: flex;
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.4s;
}

.navbar ul{
    display: flex;
    list-style-type: none;
}

.navbar ul li a{
text-decoration: none;
margin: 0 10px;
color: black;
}

.navbar ul li a:hover{
    color: blueviolet;
    transition: 0.4s;

}

.navbar.active{
    background-color: black;
}

.navbar.active ul li a{
    color: rgb(255, 255, 255);
    transition: 0.4s;
}

.navbar.active ul li a:hover{
    color: blueviolet;
}


/*=============== FOOTER2 ===============*/

.footer2 {
    width: 100%;
    text-align: center;
    padding: 10px 0; /* Adjust the padding as needed */
    background-color: #000000;
    position: absolute;
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin: 0; 
    left: 0; 
    right: 0; 
  }
  .footer2 p{
    color: #aaaaaa;
  }
  
  

.navbar .fa {
    display: none;
  }

  @media (max-width: 700px) {
    .navbar ul {
      display: none;
    }
    
    .navbar .fa {
        display: block;
        color: #000000;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        float: right;
      }
    
      .navbar.active .fa {
        color: rgb(255, 255, 255);
        transition: 0.4s;
    }
    
  }